<p>Hello <%= @resource.email %>!</p>

<p>You've been invited to manage <%= @resource.client.client_label %></p>
<p>Click the link below to get started:</p>
<p><%= link_to "Set Up Account", users_password_set_new_user_password_url(@resource, reset_password_token: @token)%></p>