<body data-page="new-fax-number-fax-index" data-components="purchaseFaxNumberDropdown">
	<h1>Purchase A New Fax Number</h1>
	<div class="underline"></div>
	<%= render partial: "form", layout: false, locals: { area_codes: @area_codes, states: @states, organization: @organization } %>
</body>