<h1>Users</h1>
<div class="underline"></div>
<p><i>Select and organization below to view its users</i></p>

<% if @organizations %>
	<div class="col">
		<ul class="list-unstyled">
			<% @organizations.each do |organization| %>
				<li>
					<%= link_to "#{organization.label}", users_path(organization_id: organization.id) %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>