<h1>Users</h1>
<div class="underline"></div>
<p><i>Select and organization below to view its users</i></p>

<% if @organizations %>
	<div class="col">
		<ul class="list-unstyled">
			<% @organizations.each do |organization| %>
			<div class="col-lg-6 my-auto">
				<li class="user-list-box user-list-text">
					<%= link_to "#{organization.label}", users_path(organization_id: organization.id) %>
				</li>
			</div>
			<% end %>
		</ul>
	</div>
<% end %>