<nav id="sidebar" class="fixed-top">
	<div class="sidebar-header">
		<h3>
      <%= link_to "Phax Machine", root_path, class: "nav-link" %>
    </h3>
  </div>
  <ul class="list-unstyled components">
    <% if user_signed_in? %>
    	<% if is_admin? %>
	      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Fax Numbers">
      		<a class="nav-link" href="/fax_numbers">
        		<i class="fa fa-fw fa-phone"></i>
        		<span class="nav-link-text">Manage Fax Numbers</span>
      		</a>
	      </li>
      	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Clients">
      		<a class="nav-link" href="/clients">
        		<i class="fa fa-fw fa-id-card-o"></i>
        		<span class="nav-link-text"> Manage Clients</span>
      		</a>
	      </li>
    	<% end %>
      <% if is_client_manager? && !is_admin? %>
      	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Client Profile">
      		<a class="nav-link" href="/clients/<%=current_user.client.id%>">
      			<i class="fa fa-fw fa-id-card-o"></i>
      			<span class="nav-link-text">Client Profile</span>
      		</a>
      	</li>
      <% else %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Send a Fax">
	      	<a class="nav-link" href="/faxes/new">
		    		<i class="fa fa-fw fa-fax"></i>
		    		<span class="nav-link-text">Send a Fax</span>
		 			</a>
				</li>
      <% end %>
    <% else %>
    	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Log In">
      	<a class="nav-link" href="/users/sign_in">
      		<i class="fa fa-fw fa-sign-in"></i>
      		<span class="nav-link-text">Log In</span>
      	</a>
      </li>
    <% end %>
  </ul>
</nav>
<!--     <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Pages</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li> -->