<nav id="top-bar" class="navbar-nav fixed-top">  
	<ul class='list-unstyled components'>   
		<% if user_signed_in? %>
			<li class="nav-link logout pull-right align-self-center">
				<form action="/users/sign_out/<%= current_user.id %>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<button type="submit" class="btn btn-danger">
			      <span><i class="fa fa-fw fa-sign-out"></i> Log Out</span>
					</button>
				</form>
			</li>
	  <% end %>
	</ul>
</nav>