<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<body style="font-family: 'Nunito', sans-serif;background: #fafafa;padding:20px">
	<img src="<%= @logo_link %>" alt="Logo" width="150">
	<div style="width: 100%;margin-top: 20px;margin-bottom: 20px;border-bottom: 1px solid darkgrey;"></div>
	<%= @sent_fax_object %>
</body>