$primary: #076892;
$success: #2C4251;
$danger: #D16666;
$warning: #7EA16B;

@import 'bootstrap';
@import 'navbar';
@import 'faxes';

.smaller-card {
	width: 50% !important;
}

#content {
	overflow-x: hidden;
	margin-left: 280px;
	margin-right: 30px;
	margin-top: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.information-box {
	transition: all 0.3s;
	background: #eeeeee;
	padding-top: 16px;
	margin: 24px;
	border-radius: 7px;
}

.information-box-active {
	transition: all 0.3s;
	background: #e0e0e0;
	padding-top: 16px;
	margin: 24px;
	border-radius: 7px;
}

.user-management-box {
	padding-left: 40px;
}

.inline-object-margin {
	margin-bottom: 5px;
	margin-left: 10px;
}

.inline-input-margin {
	margin-left: 16px;
}

.force-down-button { //I'm not proud...
	margin-top: 31px;
}

.force-down-checkbox { //I'm not proud a second time...
	margin-top: 40px;
}

.card-header {
	font-weight: 400;
	font-size: 1.55em;
}

.send-fax-input {
	width: 400px !important;
}

.the-x {
	margin-right: 10px;
	margin-bottom: 10px;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #fafafa;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.55em;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a, a:hover, a:focus {
	color: inherit;
  transition: all 0.3s;
}

.hyperlink:link {
	color: #0000EE;
	transition: all 0.3s;
}

.hyperlink:visited {
	color: #551A8B;
	transition: all 0.3s;
}

ul ul a {
  font-size: 0.6em !important;
  padding-left: 20px !important;
  background: #202634;
}
td {
	vertical-align: middle !important;
}

.push-down-text {
	padding-top: 5px;
}

.custom-control-description {
	margin-left: 15px;
	box-shadow: none;
}

.custom-control-input~.custom-control-indicator {
	margin-left: 10px;
	background-color: white;
	border: 2px solid #999999;
	margin-top: 2px;
	height: 20px;
	width: 20px;
	box-shadow: none !important;
	transition: 0.2s;
}

.custom-control-input:checked~.custom-control-indicator {
	background-color: #2a313f;
	transition: 0.2s;
	box-shadow: none !important;
}

.indent-me {
	margin-left: 20px;
}