@import "bootstrap";

body {
	margin-top: 20px;
}

tr {
	background: #f7f7f7;
}

#flash-messages {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
}

.container-fluid {
	width: 65%;
}

tr:hover {
  background-color: #D2D2D2;
}

.nav-link {
	color: #cbcbcb !important;
}

.nav-link:hover {
	color: #eeeeee !important;
}

.info-box {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 30px;
	border-radius: 16px;
	border: 1px solid grey;
}

.info-box-no-border {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 30px;
	border-radius: 16px;
}