.logo {
	color: black;
	background-color: #fafafa;
	max-width: 100% !important;
}

.logout {
	cursor: pointer;
  width: 100%;
}

.logout-button {
	margin-left: -5px;
	width: 110%;
  height: 110% !important;
	background: none !important;
	color: inherit;
	border: none; 
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
	text-align: left;
}

#transition-zone {
	height: 3px;
	background: linear-gradient(#fafafa, #202634);
}

#sidebar.active {
  margin-left: -260px;
}

#sidebar {
  background: #202634;
  color: #fafafa;
  transition: all 0.3s;
  z-index: 999;
  min-width: 212px;
  max-width: 212px;
  min-height: 100vh;
}

#sidebar h3 {
	font-size: 26px;
}

#sidebar .sidebar-header {
	padding-bottom: 10px;
  background: #fafafa;;
}

#sidebar .sidebar-header img{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	min-width: 212px;
  max-width: 212px;
}

#sidebar ul.components {
  border-bottom: 1px solid #202634;
}

.logout:hover {
	color: #fafafa;
  background: #191e29;
}

.logout {
  padding-left: 12px;
  font-size: 18px;
  display: block;
}

#sidebar ul p {
  color: #fafafa;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  padding-left: 24px;
  font-size: 18px;
  display: block;
}

#sidebar ul li a:hover {
  color: #fafafa;
  background: #191e29;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fafafa;
  background: #202634;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

ul {
	padding-top: 10px;
}