var apiResponse = JSON.parse(`<%= @sorted_faxes.to_json.html_safe %>`);
var pageNumberDisplay = 1;

$("#load-icon").hide();
if (Object.keys(apiResponse).length === 0) {
	$("#pagination-ul").append("<p>No results matched your criteria. Please try again.</p>");
} else {
	currentPageNumber = 1;
	paginateFaxes(apiResponse);
	buildTableRows(apiResponse, pageNumberDisplay);
	pageNumberClick();
}

function pageNumberClick() {
	$("#pagination-ul").off().on('click', $(".page-item"), (event) => {
		if ($(event.target).hasClass('page-link')) {
			currentPageNumber = setCurrentPageNumber($(event.target).text(), currentPageNumber);
			$("tbody").empty();
			$("#pagination-ul").empty();
			buildTableRows(apiResponse, currentPageNumber);
			paginateFaxes(apiResponse);
		}
	});
}

function setCurrentPageNumber(eventTargetText, currentPageNumber) {
		switch(eventTargetText) {
		case backButtonText:
			currentPageNumber -= 1;
			break;
		case forwardButtonText:
			currentPageNumber += 1;
			break;
		case beginningButtonText:
			currentPageNumber = 1;
			break;
		case endButtonText:
			currentPageNumber = parseInt($("#pagination-ul li").prev().prev().last().attr('id'));
			break;
		default:
			currentPageNumber = parseInt(eventTargetText);
			break;
	}
	return currentPageNumber;
};